body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 16px; /* Cambiar el tamaño de la letra */
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección a columna para centrar el contenido */
  align-items: center; /* Centramos horizontalmente */
}

/* Aumentar el tamaño del tablero */
.game-board {
  transform: scale(1.4); /* Un valor de 1.4 aumentará el tamaño en un 40%*/
}

.game-info {
  margin-top: 20px; /* Agregamos espacio entre el tablero y la información del juego */
}

/* Estilos CSS personalizados para el botón "Play Again" */
.start-again-button {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Espacio superior */
}
.start-again-button:hover {
  background-color: #45a049;
}

/* Estilos CSS para "X" */
.x-square {
  color: #4DA368; 
}

/* Estilos CSS para "O" */
.o-square {
  color: #F08A89; 
}

/* Agrega estilos para el contenedor del historial de victorias */
.wins {
  width: 150px; /* Ajusta el ancho según tus preferencias */
  background-color: #f0f0f0; /* Color de fondo */
  padding: 10px; /* Espaciado interior */
  border-radius: 5px; /* Borde redondeado */
  margin-left: 20px; /* Espacio a la derecha del tablero */
}

/* Estilos para el título del historial de victorias */
.wins-title {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilos para el contador de victorias de X */
.wins-x {
  color: #4DA368; /* Color para X */
  margin-bottom: 5px;
}

/* Estilos para el contador de victorias de O */
.wins-o {
  color: #F08A89; /* Color para O */
  margin-bottom: 5px;
}

/* Estilos para el botón de reinicio de victorias */
.reset-wins {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-wins:hover {
  background-color: #45a049;
}